/* @media (max-width: 767px) {
    table{
      font-size: 2.5vw;

    }
      h1 {
          font-size:10vw;
          font-weight: 600;
          margin-bottom: 2vw;

      }
    }

    /* Tabletler için başlık boyutu */

    @media (min-width: 768px) and (max-width: 991px) {
      h1 {
          font-size: 36px;
      }
    }

    /* Masaüstü bilgisayarlar için başlık boyutu */
    @media (min-width: 992px) {
      table{
        font-size: 1.5vw;
        padding: 0%;
      }
      h1 {
          font-size: 6vw;
          font-weight: bold;
      }
    }




    @media (max-width: 992px) {
      .hide-on-collapse {
        display: none;
      }
    }


    @font-face {
      font-family : 'Poppins' ;
      src : url( '../../../assets/fonts/Poppins/Poppins-Regular.ttf' ) format('truetype');
      font-weight: '400';
      font-style: normal;
  }
    .nav-link{
      font-family: 'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #000;

    }
    a{
      font-size: larger;
      font-weight: 300;
      font-family: 'Poppins';

    }
    .navbar-brand {
      font-size: 5vw;
    }
    .navbar{
      background-color: #ffffff;
    }

    .btn-orange {
      background-color: #f45a2a;
      color: white;
      line-height: 1em;
      transition: all .2s linear;
      padding-top: 16px;
      padding-right: 32px;
      padding-bottom: 16px;
      padding-left: 32px;
      font-family: 'Inter',sans-serif;
      font-weight: 500;
      font-size: 0.933333rem;
    }
    .btn-white {
      background-color: white;
      color: #257cff;
      line-height: 1em;
      transition: all .2s linear;
      padding-top: 16px;
      padding-right: 32px;
      padding-bottom: 16px;
      padding-left: 32px;
      font-family: 'Inter',sans-serif;
      font-weight: 500;
      font-size: 0.933333rem;
    }

    .navbar-toggler {
      background-color: white;

    }
    .icon{
      margin-left: 10px;
    }
    .navbar-toggler-icon {

      color: #f45a2a; /* Turuncu renk kodu */
    }
    .container{
      background-color: #ffffff;
       max-width: 100%;
      /* width: auto;  */
    }
    .left-container{
      padding: 0px 40px 24px 21px
    }
    .left-title{
      color: #ffffff;
      text-align: start;
      line-height: 1em;
      padding: 0px 33px 4px 8px; /* s font-size: 7vw; */

    }
    .left-desc{
      color: #ffffff;
      letter-spacing: 0.04em;
      font-weight: 300;
      text-align: start;
      line-height: 2.2em;
      padding: 0px 33px 4px 8px;

    }
    img {
      max-width: 100%; /* Görüntüyü container içindeki maksimum genişlikle sınırlar */
      height: auto; /* Oranları koruyarak görüntü yüksekliğini otomatik ayarlar */
    }


